.text {
  font-family: Medium;
  white-space: pre-line;
}

.bookBox {
  display: flex;
  .book {
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    & + .book {
      margin-left: 55px;
    }
    .bookImg {
      width: 100%;
      height: auto;
      margin-bottom: 32px;
    }
    .iconBox {
      display: flex;
      .icon {
        display: flex;
        align-items: center;
        img {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
        & + .icon {
          margin-left: 24px;
        }
      }
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  border-radius: 8px;
  cursor: pointer;
}
