.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background: #1a1a1a;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1440px;
  height: 96px;
  .left {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .right {
    display: flex;
    align-items: center;
    img + img {
      margin-left: 32px;
    }
  }
}
.footer {
  display: flex;
  width: 100%;
  height: 96px;
  border-top: 1.5px solid #ededed;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1440px;
  }
}

.text {
  font-family: Medium;
  white-space: pre-line;
}

.bookBox {
  display: flex;
  .book {
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    & + .book {
      margin-left: 55px;
    }
    .bookImg {
      width: 100%;
      height: auto;
      margin-bottom: 32px;
    }
    .iconBox {
      display: flex;
      .icon {
        display: flex;
        align-items: center;
        img {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
        & + .icon {
          margin-left: 24px;
        }
      }
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  border-radius: 8px;
  cursor: pointer;
}

.alertModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  .modal_main {
    padding: 64px 32px 32px;
    width: 600px;
    background: #fff;
    box-shadow: 4px 8px 20px rgba(26, 26, 26, 0.08);
    border-radius: 12px;
    .body {
      display: flex;
      flex-direction: column;
      text-align: center;
      .buttonBox {
        margin-top: 48px;
        .oneButton {
          padding: 22px;
          width: 100%;
          background: #1a1a1a;
          border-radius: 12px;
          cursor: pointer;
        }
      }
    }
  }
}
