.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .signinWrapper {
    width: 640px;
    .title {
      margin-bottom: 64px;
    }
    .singinBox {
      .inputBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 64px;
        border-bottom: 1.5px solid #e6e6e6;
        &.on {
          border-bottom: 1.5px solid #1a1a1a;
        }
        & + .inputBox {
          margin-top: 16px;
        }
        input {
          width: 100%;
          border: none;
          outline: none;
          font-family: NexonLight;
          font-size: 20px;
          line-height: 28px;
          color: #1a1a1a;
          &::placeholder {
            color: #999999;
          }
        }
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 48px 0 20px;
        height: 72px;
        background: #e6e6e6;
        border-radius: 4px;
        &.on {
          cursor: pointer;
          background: #1a1a1a;
        }
      }
      .lost {
        display: flex;
        justify-content: center;
        margin-bottom: 48px;
        text-decoration: underline;
        span {
          cursor: pointer;
        }
      }
      .signupButton {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72px;
        background: #00ffb2;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  section {
    margin: 150px 0;
    width: 640px;
    display: flex;
    flex-direction: column;
    .bar {
      position: relative;
      margin-bottom: 32px;
    }
    .progress {
      position: absolute;
      left: 0;
      top: 0;
      width: 72px;
      height: 4px;
      background: #e6e6e6;
      z-index: 1;
    }
    .step {
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 4px;
      background: #999999;
      opacity: 1;
      z-index: 2;
    }
    .step.two {
      width: 48px;
    }
    .step.three {
      width: 72px;
    }
    .title {
      margin-bottom: 80px;
    }
    .signupWrapper {
      .allAgree {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        padding-bottom: 32px;
        border-bottom: 1.5px solid #e6e6e6;
        img {
          margin-right: 8px;
        }
      }
      .termsBox {
        margin-bottom: 32px;
        .terms {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          img {
            margin-right: 8px;
          }
        }
        .termsDesc {
          padding: 16px 20px;
          height: 144px;
          overflow: auto;
          background: rgba(230, 230, 230, 0.3);
          border: 1.5px solid #e6e6e6;
          border-radius: 8px;
        }
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        height: 72px;
        background: #e6e6e6;
        border-radius: 4px;
        &.on {
          background: #00ffb2;
          cursor: pointer;
        }
      }
    }
    .userInfoWrapper {
      .infoBox {
        & + .infoBox {
          margin-top: 48px;
        }
        .validation {
          display: flex;
          justify-content: space-between;
          .validationButton {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 16px;
            width: 120px;
            height: 72px;
            background: #e6e6e6;
            border-radius: 4px;
            cursor: pointer;
            &.on {
              background: #1a1a1a;
            }
          }
        }
        .authNumber {
          margin-top: 16px;
        }
        .inputBox {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 72px;
          padding: 0 28px;
          border: 1.5px solid #e6e6e6;
          border-radius: 4px;
          &.on {
            border-bottom: 1.5px solid #1a1a1a;
          }
          & + .inputBox {
            margin-top: 16px;
          }
          input {
            width: 100%;
            border: none;
            outline: none;
            font-family: NexonLight;
            font-size: 20px;
            line-height: 28px;
            color: #1a1a1a;
            &::placeholder {
              color: #999999;
            }
            &:disabled {
              background: white;
            }
          }
        }
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        height: 72px;
        background: #e6e6e6;
        border-radius: 4px;
        &.on {
          cursor: pointer;
          background: #00ffb2;
        }
      }
    }
  }

  .interest {
    display: flex;
    flex-direction: column;
    width: 100%;
    .box {
      display: flex;
      .card {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72px;
        border: 1.5px solid #e6e6e6;
        border-radius: 8px;
        cursor: pointer;
        & + .card {
          margin-left: 12px;
        }
        &.on {
          border: 1.5px solid #1a1a1a;
        }
        &.on:hover {
          background: white;
        }
        &:hover {
          background: #e6e6e6;
        }
      }
      & + .box {
        margin-top: 12px;
      }
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
      width: 100%;
      height: 72px;
      background: #e6e6e6;
      border-radius: 8px;
    }
    .button.on {
      background: #00ffb2;
      cursor: pointer;
    }
  }
}
