.main {
  display: flex;
  flex-direction: column;
  .notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    height: 64px;
    background: #00ffb2;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 24px 240px;
    .left {
      display: flex;
      align-items: center;
      img {
        width: 48px;
        height: 48px;
        margin-right: 56px;
      }
    }
  }
  .center {
    padding: 154px 240px;
    background: #1a1a1a;
    &.paddingBottom {
      padding-bottom: 96px;
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 337px;
      height: 64px;
      background: #00ffb2;
    }
    .buttonBox {
      display: flex;
      .eachButton {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 26px 20px 26px 32px;
        height: 112px;
        background: #fff;
        cursor: pointer;
        &.main {
          background: #00ffb2;
        }
        & + .eachButton {
          margin-left: 30px;
        }
        .text {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .info1 {
    padding: 192px 240px 168px;
    display: flex;
    justify-content: center;
    div {
      flex: 1;
    }
  }
  .info2 {
    padding: 168px 240px 192px;
    .detail {
      display: flex;
      justify-content: center;
      margin-top: 160px;
      .left {
        flex: 1;
        margin-right: 124px;
      }
      .right {
        flex: 1;
      }
    }
  }
}

.newSection {
  padding: 168px 0;
  width: 75%;
  margin: 0 auto;
  .titleBox {
    margin-bottom: 96px;
    .mainTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .moreButton {
        display: flex;
        align-items: center;
        padding: 14px 24px;
        height: 56px;
        background: #1a1a1a;
        cursor: pointer;
      }
    }
  }
}

.interestingSection {
  padding: 10% 0;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  & > div:nth-child(2) {
    position: absolute;
    width: 100%;
    flex-direction: row-reverse;
  }
}
